
@media screen and (max-width: 375px) {
 
  header h1 {
    margin: auto;
    padding: 0.5em;
    color: #fff;
    display: none;
  }
  .nav_item {
   font-size: 1em;
  }

}

@media screen and (max-width: 549px) {
  #title{ font-size: 1.5em;}
  .header__logo {
    height: 15%;
    margin-right: 0.1em;
    vertical-align: top;
    position: absolute;
    right: 0;
    z-index: 1;
  }
  .inside td{
    display: block;
  }
  .inside #date_birth {
    font-size: 0.75em;
  }
  /* hide part of review in smaller screen to line height 1.2 or 3 lines*/
.inside .description{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  }

}
@media screen and (min-width: 550px) {
  .inside #maincontent {
    display:flex;
    flex-wrap: wrap;
  }

}
@media screen and (min-width: 850px) {
    body, header, nav, footer {
      margin-left: auto;
      margin-right: auto;
    }

    .modal-content {
      max-width: 800px;
      margin-left: auto;
      margin-right: auto;
    }
     h3 {
      font-size: 1.5em;
    }
    td, p {
      font-size: 1em;
    }
  }