@charset "utf-8";
/* CSS Document */
html{overflow-x: hidden;}


body,td,th,p{
/*	font-family: Arial, Helvetica, sans-serif; */
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: 1em;
  /* color: #333; */
	color: #351858;   
	line-height: 1.5;
}
body {
   background-color: #fff; 
/*  background-color: #37B0C9; */
}
ul, li {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-size: 12pt;
  /* color: #333; */
  color: #351858;
}
li.list-group-item{
  display: inline;
}
button, a {
  /* color: #fff; */
  color: #351858;
  font-size: 12pt;
	text-decoration: none;
}
a:hover, a:focus {
	color:blue;
	text-decoration: none;
}

a img{
  /* border: none 0px #fff; */
  border: none 0px #37B0C9;

}
h1, h2, h3, h4, h5, h6 {
  /*font-family: Arial, Helvetica, sans-serif; */
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin: auto;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }


.visuallyhidden { 
  position: absolute; 
  overflow: hidden; 
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px; width: 1px; 
 
}
#maincontent {
  /* background-color: #f3f3f3; */
  background-color: rgb(250, 133, 203); 
  max-height: 100%;
  margin: 0;
}
#footer {
  /* background-color: #444; */
  background-color: #EC058E;
  color: white;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}
/* ====================== Navigation ====================== */
.header__logo {
  margin-right: 1em;
  vertical-align: top;
  margin-top: 10px;
  position: absolute;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  /* color: grey; */
  color: #F140A9;
  right: 0;
  z-index: 1;
}
header ,#drawer {
  /* background-color: #323a45; */
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgb(122, 207, 224) 0%, white 100%);
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin: auto;
  padding: 1em;
}
header h1 {
  margin: auto;
  padding: 0.5em;
  color: #351858;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  display: inline-block;
}
h1 {
  color: #351858;
  font-weight: 200;
  letter-spacing: 10px;
}
.nav {
  justify-content: center;
}

.nav__item {
  box-sizing: border-box;
  display: inline;
  text-align: center;
  line-height: 24px;
  text-transform: uppercase;
}
button {
  color: #37B0C9;
  text-decoration: none;
  background-color: transparent;
  border:none;
}
#breadcrumb {
    list-style: none;
   background-color: #37B0C9; 
      margin: 0;
    padding: 0.5em;
    text-align: left;
    font-size: 2em;
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;    
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    color: #351858;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #fff;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #fff;
    text-decoration: underline;
}

/* ====================== Pony Filtering ====================== */
.filter-options {
  width: 100%;
  /*height: 50px;*/
 background-color: #cdedfd;
 background-image: url(img/rainbows.png);
  align-items: center;
}
.filter-options h2 {
  color: #351858;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  margin: 0 20px;
  padding: 10px;
}
.filter-options select {
 background-color: #cdedfd;
 background-image: linear-gradient(319deg, #cdedfd 0%, #ffec82 37%, #ffcfd2 100%);
  border: 1px solid #fff;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 11pt;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 200px;
}

/* ====================== pony Listing ====================== */


/*#item-list {
  list-style: outside none none;
  margin: 0;
  padding: 25px;
  text-align: center;
}*/
#item-list {
  background-color: #9796f0;
  background-image: linear-gradient(360deg, rgb(166, 119, 226) 0%, rgb(139, 241, 236) 37%, #f599cb 100%); 
  list-style: outside none none;
  margin: auto;
  width: 100%;
  padding: 25px;
  text-align: center;
}


#item-list p {
  margin: 0;
  font-size: 11pt;
}
.list-group-item button {
  cursor: pointer;
  background-color: #37B0C9;
  color: #fff;
  display: inline-block;
  font-size: 10pt;
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  text-align: center;
  
}

#item-list li h3 {
  color: #822B99;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1.5em;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 5px;
}

/* ====================== Pony Details ====================== */

#group {
  color: #351858;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1.5em;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.1;
}
.pony-img {
  display: block;
   margin-left: auto;
  margin-right: auto;
  padding: 5px;
  width: 100%;
}
#site-container, #insert-container {
padding: 25px;
}
div#form-group{
padding: 0 0 1em;
}

#item-list li {
  background-color: whitesmoke;
  border: 2px solid #351858;
  display: block;
  list-style-type: none;
  width: 70%;
  margin: auto;
  margin-bottom: 30px;
  overflow: hidden;
  padding: 0 20px 20px;
  position: center;
  width: 85%;
}
#item-list li p {
  margin: 0 0 10px;
}
/* ====================== Add Button ====================== */

#contactBtn {
  cursor: pointer;
  background-color: #351858;
  color:  #37B0C9 ;
  display: inline-block;
  font-size: 12pt;
  margin: auto;
  margin-left: 15px;
  margin-top: 15px;
  padding: 8px 30px 10px;
  text-align: center;
}

/* ====================== Pony Update Form ====================== */

.form-control{
  margin: 1em 0 1em;
  padding: 8px 30px 10px;
  border: 1px solid #ced4da;
  background-color: #fff;
 }

/* ====================== insert modal Form ====================== */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 1em;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #323a45;
  text-decoration: none;
  cursor: pointer;
}
.form_div{
  width: 100%;
}
/* The Modal (background) */
.modal-style {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    overflow-y: scroll; 
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
    border: 1px solid #888;
    margin:15% auto;
    font-size: 1em;
    padding: 20px;
    background-color: white;
    border: 2px solid #ccc;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 90%;
    min-height: 200px;
    text-align: left;
    flex:auto;
    display: flow-root;
}

.modal-content label{
  padding: 12px 12px 12px 0;
  display: inline-block;
}

button#submit_button {
  cursor: pointer;
  background-color: #351858;
  color: #fff;
  display: inline-block;
  font-size: 10pt;
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  text-align: center;
}

 textarea#desc{
  overflow: auto;
  width: 90%;
  height:5em;
  border:2px solid #888;;
  resize:auto;
}



