<!doctype html>
<html>
    <head>
        <title>Server Page</title>
    </head>
    <body>
        <h1>{{requesType}} Request Received</h1>
        <ul>
            <li>
                Below that, if it is a POST request, you should list, again either in a list or a table, 
                all the property names and values that were received in the request body. It should be
                able to accepter either a well formatted URL encoded query string (x-www-form-urlencoded)
                or JSON data.
            </li>
        </ul>
    </body>
</html>

